* {
    font-family: Arial;
}

body {
    background-image: url("../img/media.png");
    
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: black;
}

form {
    background-color: #5e5e5e6e;
    display: flexbox;
    margin-top: 1%;
    border: 2px solid  black;
    position: relative;
}

input[type=text], input[type=password] {
    width: 60%;
    padding: 15px 25px;
    margin: 8px 0;
    display: flex-box;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: left;
}

.button {
    
    color: white;
    padding: 15px 25px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */
    border: 2px solid;
    
}
.button1 {
    
    color: white;
    padding: 15px 25px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */
    border: 2px solid;
    
}
.button:hover {
    opacity: 0.8;
    border:  black;
}
.button1:hover {
    opacity: 0.8;
    border: black;
}

.container {
    padding: 10%;
}
a:hover {
    color:red;
}

.login-form .btn.btn-primary {
    background: black none repeat scroll 0 0;
    border-color: #aeaeae;
    color: #aeaeae;
    font-size: 14px;
    width: 60%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.login-form .btn.btn-primary:hover {
    background: #33bca5 none repeat scroll 0 0;
    border-color: black;
    color: black;
    font-size: 14px;
    width: 60%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.main-div {
    
    padding: 40px 50px 60px 75px;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 38%;
}

.login-form {
    text-align: left;
}